* , ::after , ::before{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 4px;
  background-color: #0b0952;
}
::-webkit-scrollbar-thumb{
  background: rgb(73, 70, 70);
}
body{
  font-family: 'Roboto', sans-serif;  
  margin: 0;
}
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  input , textarea , button {
    border-style: none;
    cursor: pointer;
    outline: none;
    background: none;
   
  }



.active  {
    color: #e3f0f0d2;
    border-bottom: 2px solid #e1e9e9d2 ;
}
.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}